extends layout

block content 
  <ac id='gh' href="#" class="rollover" onclick='flag()' > </ac>
  script.
    var f1 = function() {
    document.getElementById('nv').src='#{data.item1}'
    document.getElementById('lan').innerHTML=screen.height
    }
  script.
    var f2 = function() { 
    document.getElementById('nv').src='#{data.item2}' 
    document.getElementById('lan').innerHTML="2"
    }
  script.
    var f3 = function() {
    document.getElementById('nv').src='#{data.item3}' 
    document.getElementById('lan').innerHTML="3"
    }
  script.
    var en = function() { document.getElementById('nv').src='#{data1.item1}' }
  script.
    var ua = function() { document.getElementById('nv').src='#{data1.item2}' }
  script.
    var flag = function() { document.getElementById('nv').src='#{data1.item2}' }
  script.
    var bd = function() {
    if ( document.getElementById('myImage').src.indexOf('#{proba.item1}')>0)
        { 
        document.getElementById('myImage').src='#{proba.item2}'
        document.getElementById('lan').innerHTML='uk'
        document.getElementById('text1').innerHTML='#{opis.item1}'
        }
    else{ 
        document.getElementById('myImage').src='#{proba.item1}'
        document.getElementById('lan').innerHTML='en'
        document.getElementById('text1').innerHTML='#{opis.item2}'
        }
        }
  script.
    var flag_im = function() { document.getElementById('lan').innerHTML="вибір мови" } 
  script.
    var flag_out = function() { document.getElementById('lan').innerHTML="" } 
  script.
     var h_ss=function(){
     document.getElementById('nv').height=screen.height*0.5}